body, div,  h3, h4, h5, h6, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

.header {
  background: 	#000000;
  color: 		#00D75F;
  padding: 1rem 0;

  position: fixed;
  left: 0;
  top: 0;
  right: 0; 
  float: right;
  
}
.header a {
  color: white;
  text-decoration: none;
}


P {
	margin: 0; 
	padding: 0; 
	border: 0;
	margin-bottom: 1.6em; 
	color: 		White;
}
a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
h1 {
  font-size: 1.8rem;
  line-height: 1.3em;
  margin: 0; 
  padding: 0; 
  border: 0;
}
h2 {
  font-size: 2rem;
  line-height: 1.3em;
  margin: 0; 
  padding: 0; 
  border: 0;
}
h5 {
  color: #626262;
  line-height: 1.3em;
  margin: 0; 
  padding: 0; 
  border: 0;
}

body {
	background: #313145;
}

#demo {
	width: 900px; margin: 250px auto;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.sidebar {
  position: fixed;
  width: 12%;
  height: 100vh;
  background: #00af5f;
  font-size: 0.8em;
  background-image: linear-gradient(120deg, #00af5f, #005f5f); 
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 23%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: Black;
      left: 0;
      bottom: 0;
    }
  }
}

.cuerpo {
  position: relative;
  width: 78%;
  float: right;
  height: 80vh;
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  a{
    color: black;
  }
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 1200px;
	position: relative;
	margin: 10% auto;
	padding: 20px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}