body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

/* headings */

.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #EBA83A;
  color: #fff;
}

.white-section{
 background-color: rgb(34, 34, 34);
 color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Montserrat";
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15%;
  text-align: left;
}

/* Title Image */
.title-image{
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Features */
#features{
  position: relative;
  z-index: 1;
}

.features-title{
  font-size: 1.5rem;
}

.features-col{
  text-align: center;
  padding: 5%;
}

.features-icon{
  color: #e41f05;
  margin-bottom: 1rem;
}

.features-icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
  background-color: #ee5641;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* cta */

/* Footer Section */

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
